body {
  margin: 0;
  padding: 0;
}

.loader {
  width: 100%;
  height: 30vh;
}

.loader .loader__animate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  animation-name: loader1;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loader1 {
  0% {
    opacity: 0.3;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  80%, 100% {
    opacity: 1;
    filter: blur(0);
    letter-spacing: 1px;
  }
}

/* LOADER2 */
.loader2 {
  width: 100%;
  height: 30vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  perspective: 770px;
}

.card {
  position: relative;
  animation-name: loader2;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
  /* transition-duration: 0.6s; */
  /* transition-timing-function: ease-in-out; */
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.card-wrapper .card .front {
  z-index: 2;
}

.card-wrapper .card .back {
  transform: rotateX(-180deg);
}

.card-wrapper,
.card {
  width: 150px;
  height: 50px;
}

.card .front,
.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .front {
  box-shadow: inset 0 0 0 2px rgb(1, 3, 143);
}

.card .front {
  font-size: 1rem;
  color: #2f31a8;
  font-weight: bold;
  background: #FFFFFF;
}

.card .back {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: bold;
  background: linear-gradient(to bottom right, #99a9ee, #01038f);
}

@keyframes loader2 {
  0%, 20% {
    transform: rotateX(0deg);
  }

  35% {
    .card-wrapper .card .front {
      z-index: -2;
    }
  }

  50%, 70% {
    transform: rotateX(-180deg);
  }

  85% {
    .card-wrapper .card .front {
      z-index: 2;
    }
  }

  100% {
    transform: rotateX(-360deg);
  }
}

/* LOADER3 */
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 30vh;
  background-color: #1d2630;
}

.spinner-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
}

.circle {
  width: 100px;
  height: 100px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(81, 82, 125);
  background: linear-gradient(0deg, rgb(81, 82, 125) 66%, rgb(150, 152, 255) 100%);
  animation-name: spin;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}

.loading-title {
  position: absolute;
  color: rgba(142, 163, 238, 1);
  font-size: 1rem;
  font-weight: normal;
  filter: blur(2px);
  animation-name: title;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes title {
  0% {
    filter: blur(0);
  }

  50% {
    filter: blur(2px);
  }

  100% {
    filter: blur(0);
  }
}

/* LOADER4 */
.loader4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 30vh;
  background-color: #1d2630;
}

.loader4 .spinner {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #500dd9;
  animation-name: spin2;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader4 .spinner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #7ac7ff;
    animation-name: reverse-spin;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loader4 .spinner:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #696cc1;
  animation-name: spin2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin2 {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
  0%   {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-720deg);
  }
}


/* LOADER5 */
.loader5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.loader5-wrapper {
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
}

.line {
  display: inline-block;
  margin: 0 2px;
  width: 2px;
  height: 24px;
  background: #fff;
  animation-name: opacity;
  animation-duration: 1050ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.loader5-wrapper .line-1 {
  background: #E60012;
 }
.loader5-wrapper .line-2 {
   animation-delay: 150ms;
   background: #F39800;
 }
.loader5-wrapper .line-3 {
  animation-delay: 300ms;
  background: #FFF100;
}
.loader5-wrapper .line-4 {
  animation-delay: 450ms;
  background: #009944;
}
.loader5-wrapper .line-5 {
  animation-delay: 600ms;
  background: #0068B7;
}
.loader5-wrapper .line-6 {
  animation-delay: 750ms;
  background: #1D2088;
}
.loader5-wrapper .line-7 {
  animation-delay: 900ms;
  background: #920783;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* LOADER6 */
.loader6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  color: white;
  background-color: #1d2630;
}

.loader6 .spinner-box {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-top-color: #ac4040;
  border-bottom-color: #ac4040;
  border-radius: 50%;
  animation-name: spin-type2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader6 h2 {
  position:absolute;
  font-size: 0.8em;
  font-weight: normal;
  animation-name: loading;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin-type2 {
  0%{
    transform: rotate(0deg);
  }
  45% {
    border-top-color: #ac4040;
    border-bottom-color: #ac4040;
  }
    70% {
    border-top-color: #bfaeae;
    border-bottom-color: #bfaeae;
  }
  100%{
    transform: rotate(360deg);
    border-top-color: #ac4040;
    border-bottom-color: #ac4040;
  }
}

@keyframes loading {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
