body {
  margin: 0;
  padding: 0;
}

.loader {
  width: 100vw;
  height: 30vh;
}

.loader .loader__animate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  animation-name: loader1;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loader1 {
  0% {
    opacity: 0.3;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  80%, 100% {
    opacity: 1;
    filter: blur(0);
    letter-spacing: 1px;
  }
}

/* LOADER2 */
.loader2 {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  perspective: 770px;
}

.card {
  position: relative;
  animation-name: loader2;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
  /* transition-duration: 0.6s; */
  /* transition-timing-function: ease-in-out; */
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.card-wrapper .card .front {
  z-index: 2;
}

.card-wrapper .card .back {
  transform: rotateX(-180deg);
}

.card-wrapper,
.card {
  width: 150px;
  height: 50px;
}

.card .front,
.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .front {
  box-shadow: inset 0 0 0 2px rgb(1, 3, 143);
}

.card .front {
  font-size: 1rem;
  color: #2f31a8;
  font-weight: bold;
  background: #FFFFFF;
}

.card .back {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: bold;
  background: linear-gradient(to bottom right, #99a9ee, #01038f);
}

@keyframes loader2 {
  0%,20% {
    transform: rotateX(0deg);
  }
  35% {
    .card-wrapper .card .front {
      z-index: -2;
    }
  }
  50%,70% {
    transform: rotateX(-180deg);
  }
  85% {
    .card-wrapper .card .front {
      z-index: 2;
    }
  }
  100% {
    transform: rotateX(-360deg);
  }
}


/* LOADER3 */
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #1d2630;
}

.spinner-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: transparent;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(81, 82, 125);
  background: linear-gradient(0deg, rgb(81, 82, 125) 66%, rgb(150, 152, 255) 100%);
  animation-name: spin;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}

.loading-title {
  position: absolute;
  color: rgba(142, 163, 238, 1);
  font-size: 1rem;
  font-weight: normal;
  filter: blur(2px);
  animation-name: title;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes title {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
  }
}
